# client
NEXT_PUBLIC_AWS_S3_URL=
NEXT_PUBLIC_LINE_CHANNEL_ID=
NEXT_PUBLIC_LINE_REDIRECT_URI=
NEXT_PUBLIC_BACKEND_URL=

# admin
NEXT_PUBLIC_TOKEN =
NEXT_PUBLIC_USER =
NEXT_PUBLIC_DOMAIN =
GOOGLE_API_KEY =
GOOGLE_SHEETS_ID =

# server
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
JWT_SECRET=
PORT=
DB_SYNC=
CLIENT_DOMAIN=
CLIENT_ADMIN_DOMAIN=

# -- AWS --
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_REGION=
AWS_S3_BUCKET=
AWS_S3_URL=

# -- LINE --

# --- OAuth Credentials ---
LINE_CHANNEL_ID=
LINE_CHANNEL_SECRET=

# --- LINE API URLs ---
LINE_AUTH_URL=
LINE_TOKEN_URL=
LINE_VERIFY_URL=
LINE_PROFILE_URL=
LINE_REDIRECT_URI=
LINE_OA_URL=

# -- TWILIO
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

# --- SENDGRID ---
# SENDGRID_API_KEY=
# SENDGRID_SENDER_MAIL=

# -- ECPay Payment Gateway --
ECPAY_MERCHANT_ID=
ECPAY_HASH_KEY_PAYMENT=
ECPAY_HASH_IV_PAYMENT=
ECPAY_API_URL_STAGE=
ECPAY_API_URL_PROD=
ECPAY_ENVIRONMENT=
ECPAY_CLIENT_DOMAIN=
